<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>winhadoopweb</display-name>
  <servlet>
  	<display-name>MonDelayCntServlet</display-name>
  	<servlet-name>MonDelayCntServlet</servlet-name>
  	<servlet-class>dataexpo.MonDelayCntServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CarrServlet</display-name>
  	<servlet-name>CarrServlet</servlet-name>
  	<servlet-class>dataexpo.CarrServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MonMultiServlet</display-name>
  	<servlet-name>MonMultiServlet</servlet-name>
  	<servlet-class>dataexpo.MonMultiServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CarrMultiServlet</display-name>
  	<servlet-name>CarrMultiServlet</servlet-name>
  	<servlet-class>dataexpo.CarrMultiServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MonMultiServlet2</display-name>
  	<servlet-name>MonMultiServlet2</servlet-name>
  	<servlet-class>dataexpo.MonMultiServlet2</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CarrMultiServlet2</display-name>
  	<servlet-name>CarrMultiServlet2</servlet-name>
  	<servlet-class>dataexpo.CarrMultiServlet2</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CarrGridServlet</display-name>
  	<servlet-name>CarrGridServlet</servlet-name>
  	<servlet-class>dataexpo.CarrGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MonDelayCntServlet</servlet-name>
  	<url-pattern>/MonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarrServlet</servlet-name>
  	<url-pattern>/CarrServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MonMultiServlet</servlet-name>
  	<url-pattern>/MonMultiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarrMultiServlet</servlet-name>
  	<url-pattern>/CarrMultiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MonMultiServlet2</servlet-name>
  	<url-pattern>/MonMultiServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarrMultiServlet2</servlet-name>
  	<url-pattern>/CarrMultiServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarrGridServlet</servlet-name>
  	<url-pattern>/CarrGridServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>